body {
  background-image:url(https://github.com/ludovic2411/404-Page/blob/master/rawpixel-com-477803.jpg);
  background-size: cover;
}
p {
  text-align: center;
  color:#FFEBCD;
  font-size: 40px;
}
input {
  background-color: #FFEBCD;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin:0 auto;
}
